:root {
    --effect: hover 1s linear infinite;
  }    
  .loading_container {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: blanchedalmond;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading_hide {
    animation: loading_hide 1.5s forwards;
}

@keyframes loading_hide {
    100% {
        top: -200%;
        z-index: -999;
        display: none;
    }
}    
  .loading_container p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
  
  .loading_container p:nth-child(1) {
    animation: var(--effect);
  }
  
  .loading_container p:nth-child(2) {
    animation: var(--effect) .125s;
  }
  
  .loading_container p:nth-child(3) {
    animation: var(--effect) .25s;
  }
  
  .loading_container p:nth-child(4) {
    animation: var(--effect) .375s;
  }
  
  .loading_container p:nth-child(5) {
    animation: var(--effect) .5s;
  }
  
  .loading_container p:nth-child(6) {
    animation: var(--effect) .675s;
  }
  
  .loading_container p:nth-child(7) {
    animation: var(--effect) .75s;
  }
  
  @keyframes hover {
    0% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
    20% {
      transform: scale(1);
      color: pink;
      -webkit-text-stroke: 3px red;
      filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }
  
    50% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
  
  }
  